@media only screen and (min-width: 550px)
{
#wrapperr{

background: #000;
padding-top: 5px;
}
#wrapper{

max-width:500px !important;
background: #2d2d2d;
border: 1px solid #000;
padding: 10px;
}
#timer p{
font-size:14px !important;
}

}
h1 {font-size: 22px;text-transform: uppercase; color: #fff;}
#timer p,p{color: #fff;}
#today {
    float: right;
   font-weight: 600;
    padding-top: 15px;
    display: none;
}
.img1 {width: 100%;max-width:400px;}
#error,#timer{display:inline-block;float:left}#timer p,.btn{#font-weight:700}body{font-family:sans-serif}a{text-decoration:none}footer,header,section{clear:both}*{margin:0;padding:0}#wrapper{margin:0px auto;max-width:440px;border:0 solid #303030;border-radius:0}p{font-size:14px;padding:5px 0}#timer{max-width:290px;width:65%}#timer p{font-size:12px}#error{max-width:120px;width:35%}#error img{width:100%}.container{padding-left:8px;padding-right:8px}

#blink{color:#f00000;padding:6px;-webkit-animation:blink 1s infinite;-moz-animation:blink 1s infinite;-ms-animation:blink 1s infinite;-o-animation:blink 1s infinite;animation:blink 1s infinite;}
@-webkit-keyframes blink{0%{opacity:1.0;}
50%{opacity:0.0;}
100%{opacity:1.0;}
}
@-moz-keyframes blink{0%{opacity:1.0;}
50%{opacity:0.0;}
100%{opacity:1.0;}
}
@-ms-keyframes blink{0%{opacity:1.0;}
50%{opacity:0.0;}
100%{opacity:1.0;}
}
}
@-o-keyframes blink{0%{opacity:1.0;}
50%{opacity:0.0;}
100%{opacity:1.0;}
}
@keyframes blink{0%{opacity:1.0;}
50%{opacity:0.0;}
100%{opacity:1.0;}
}

@media only screen and (max-width: 959px) {
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (max-width: 479px) {
}
@media only screen and (max-width: 320px) {
    h1 {font-size: 16px;text-transform: uppercase;}
    p {
    font-size: 14px;
    padding: 1px;
}
}
